{% extends 'index.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock styles %}

{% block content %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="card shadow-sm p-4">
                    <h2 class="card-title text-center fw-bold mb-4 text-primary">Увійти до KidStats</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Ім'я користувача</label>
                            <input type="text" class="form-control" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Пароль</label>
                            <input type="password" class="form-control" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Увійти</button>
                        <p class="text-center mt-3">Ще не маєте облікового запису? <a href="{% url 'register' %}">Зареєструватися</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
